{% extends './base.html.twig' %}

{% block body %}
	<div class="card-container">
		<div class="grid--cell">
			<article class="grid--item">

				<div class="preview--container">
					<a href="#" class="preview-image--container">
						<div class="preview-image"></div>
					</a>

					<div class="meta--container">
						<a href="#" class="issue">Issue XX</a>
						<a href="#" class="page">Page YY</a>
					</div>
				</div>

				<div class="content--container">
					<div class="title--container">
						<a class="title--text" href="#">Ossimu Quasi Alum</a>
					</div>

					<div class="tags--overflow-container">
						<ul class="tags--container">
							<li>
								<a href="#" class="tag">Delect a Distinctio</a>
							</li>
							<li>
								<a href="#" class="tag ellipsis">
									<i class="far fa-ellipsis-h"></i>
								</a>
							</li>
						</ul>
					</div>

					<div class="hover--options">

						<a href="#" class="series button">
							<span class="icon-title">
								<i class="fad fa-books"></i>
								Series</span>
							<span class="new-tab">
								<i class="fas fa-arrow-circle-right"></i>
							</span>
						</a>

						<a href="#" class="latest button">
							<span class="icon-title">
								<i class="far fa-image"></i>
								Latest</span>
							<span class="new-tab">
								<i class="fas fa-arrow-circle-right"></i>
							</span>
						</a>

						<a href="#" class="follow button">
							<i class="fas fa-plus"></i>
						</a>
					</div>
				</div>

			</article>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('JS/posts.html') }}"></script>
{% endblock %}
