{% extends './base.html.twig' %}

{% block body %}
	<div class="card-container">
		<div class="grid--cell">
			<article class="grid--item">

				<div class="preview--container">
					<a href="#" class="preview-image--container">
						<div class="preview-image"></div>
					</a>
				</div>

				<div class="content--container">
					<div class="title--container">
						<a class="title--text" href="#">Ossimu Quasi Alum</a>
					</div>
					<p class="event-desc">bla bla bla</p>					
				</div>

			</article>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('JS/posts.html') }}"></script>
{% endblock %}
